<div class="container about-me-page">
    <!-- Header Section -->
    <div class="header text-center my-5">
        <img src="assets/profile.jpg" class="rounded-circle img-fluid" alt="Profile Image" width="150">

        <h1>Jamal Abbasi</h1>

        <h2 class="text-muted text-white fade show bounce">Angular Developer</h2>
        <br>
        <p class="lead">Passionate about building scalable web applications with Angular.</p>
    </div>

    <!-- Bio Section -->
    <div class="bio my-5">
        <h3>About Me</h3>
        <p>
            Hi, my name is <strong>Jamal Nasrullah Abbasi</strong> from Islamabad. I am a Software Engineer i have done
            my engineering degree from Abasyn University Islamabad Campus. I am a dedicated Angular developer
            with a strong background in front-end development. I enjoy creating intuitive and dynamic user interfaces,
            focusing on clean and efficient code. With a passion for learning and keeping up with the latest trends, I
            continuously strive to enhance my skills and deliver exceptional results.
        </p>
    </div>
</div>