<div class="background-container">
    <!-- Your content here -->

    <div class="container text-center">
        <div class="title animate__animated animate__pulse animate__infinite">
            <span>MY Portfolio</span>
        </div>
        <div class="animate__animated animate__fadeInDown animate__delay-2s ">
            <span>
                <span>Hi,</span>I am
            </span><br>
            <span>Jamal Abbasi</span>
            <br>
            <div class="typing-container">   <span class="text-animation">Software Developer</span> </div>
            
            
        </div>
        <div class="profile">
            <div class="d-flex justify-content-center align-items-center">
                <img src="assets/fj.jpg" class="rounded-circle rounded-border img-fluid " style="width: 120px;" alt="Cinque Terre">
            </div>
        </div>
    </div>
    <br>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card h-100 d-flex flex-column card animate__animated animate__fadeInUp">
                        <img src="/assets/ang.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Angular Developer</h5>
                            <p class="card-text">I am a passionate Angular developer with a strong foundation in
                                building dynamic, responsive, and user-friendly web applications. With extensive
                                experience in utilizing Angular's robust framework...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100 d-flex flex-column card animate__animated animate__fadeInUp">
                        <img src="/assets/flutter.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">flutter Developer</h5>
                            <p class="card-text">I am a dedicated Flutter developer with a strong focus on creating
                                high-performance, visually appealing, and cross-platform mobile applications. With a
                                deep understanding of Flutter's framework...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100 d-flex flex-column card animate__animated animate__fadeInUp">
                        <img src="/assets/gd.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Graphic Designing</h5>
                            <p class="card-text">I am a creative and detail-oriented Graphic Designer with a passion for
                                transforming ideas into visually compelling designs. With a keen eye for aesthetics and
                                a strong understanding of design principles, I specialize in crafting engaging graphics
                                that communicate messages effectively and leave a lasting impression.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>